/* CONTENEDORES - FOMULARIO */
.body-mg{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: center;
    font-family: "Encode Sans", sans-serif;
}

.body-bg{
    background-image: url("../assets/Tapa-frente.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.login-container{
    min-width: 541px;
    min-height: 750px;
    box-shadow: 2px 2px 19.4px 3px rgba(0, 0, 0, 0.20);
    border-radius: 14px;
    background-color: var(--color-blanco);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.login-box p{
    display: flex;
    justify-content: center;
}

.login-box form{
    display: flex;
    flex-direction: column;
}

.login-box .user-box{position: relative;}

.user-box input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var(--color-verde-oscuro);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--color-negro);
  outline: none;
  background: transparent;
}

.user-box label{
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  color: var(--color-gris);
  pointer-events: none;
  transition: .5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  left: 0;
  font-size: 12px;
}

.user-ms{margin-bottom: 0px;}

/* IMAGENES */
.logo-color{max-width: 175px;}

/* BOTONES */
.primary-bt{
    min-width: 382px;
    min-height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-verde-oscuro);
    border-radius: 7px;
    margin-top: 10px;
    color: var(--color-claro);
}

.shadow-bt{
    box-shadow: 0px 6px 6.5px 0px rgba(0, 0, 0, 0.25);
    border-bottom: none;
    border-width: 0px;
}

/* ERROR */
.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}


/* TABLET */
@media (min-width: 768px){
    .body-bg-ms{
    background-image: url("../assets/Tablet.png");
    }

    h1{font-size: 48px;}
    h2{font-size: 32px;}
    h3{font-size: 32px;}
    h4{font-size: 24px;}
    h5{font-size: 16px;}

    .coment{font-size: 12px;}

    .login-container{
        max-width: 541px;
        max-height: 600px;
    }
}

/* NOTEBOOK */
@media (max-width: 1400px){
  
    h1{font-size: 48px;}
    h2{font-size: 32px;}
    h3{font-size: 32px;}
    h4{font-size: 24px;}
    h5{font-size: 16px;}

    .coment{font-size: 12px;}

    .login-container{
        min-width: 500px;
        min-height: 650px;
        transform: scale(0.85);
    }
}