/* PALETA DE COLORES */
:root {
    --color-verde-oscuro: #3D7363;
    --color-verde-medio: #518C7C;
    --color-verde-claro: #81A69B;
    --color-gris: #A4A5A6;
    --color-claro: #F2F2F2;
    --color-naranja: #F2994B;
    --color-blanco: #ffffff;
    --color-negro: #000000;
}

/* Colores de texto */
.text-verde-oscuro { color: var(--color-verde-oscuro); }
.text-verde-medio  { color: var(--color-verde-medio); }
.text-verde-claro  { color: var(--color-verde-claro); }
.text-gris         { color: var(--color-gris); }
.text-claro        { color: var(--color-claro); }
.text-naranja      { color: var(--color-naranja); }
.text-blanco       { color: var(--color-blanco); }
.text-negro        { color: var(--color-negro); }

/* Colores de fondo */
.bg-verde-oscuro { background-color: var(--color-verde-oscuro); }
.bg-verde-medio  { background-color: var(--color-verde-medio); }
.bg-naranja      { background-color: var(--color-naranja); }
.bg-claro        { background-color: var(--color-claro); }
.bg-blanco       { background-color: var(--color-blanco); }


/*  TEXTO  */
h1{font-size: 48px; font-weight: 800;}
h2{font-size: 32px; font-weight: 700; color: var(--color-claro);}
h3{font-size: 32px; font-weight: 600; color: var(--color-verde-oscuro);}
h4{font-size: 24px; font-weight: 400;}
h5{font-size: 16px; font-weight: 500;}

.p1{font-size: 17px; font-weight: 400; color: var(--color-claro);}
.p2{font-size: 15px; font-weight: 300; color: var(--color-verde-oscuro);}
.p-bt{font-size: 15px; font-weight: 800; letter-spacing: 10%;}

.comment{font-size: 12px; font-weight: 400; color: var(--color-gris);}
.no-link{text-decoration: none;}

.prueba{
    margin: 40px 0px 0px 20px;
    color: var(--color-verde-oscuro);
}

/* CONTENEDORES - FOMULARIO */
body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: center;
    background-image: url("../assets/Tapa-frente.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Encode Sans", sans-serif;
}

.login-container{
    min-width: 541px;
    min-height: 750px;
    box-shadow: 2px 2px 19.4px 3px rgba(0, 0, 0, 0.20);
    border-radius: 14px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.login-box p{
    display: flex;
    justify-content: center;
}

.login-box form{
    display: flex;
    flex-direction: column;
}

.login-box .user-box{position: relative;}

.user-box input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: var(--color-verde-oscuro);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--color-negro);
  outline: none;
  background: transparent;
}

.user-box label{
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  color: var(--color-gris);
  pointer-events: none;
  transition: .5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  left: 0;
  font-size: 12px;
}

/* IMAGENES */
.logo-color{max-width: 200px;}

/* BOTONES */
.primary-bt{
    min-width: 382px;
    min-height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-verde-oscuro);
    border-radius: 7px;
    margin-top: 10px;
    color: var(--color-claro);
}

.shadow-bt{
    box-shadow: 0px 6px 6.5px 0px rgba(0, 0, 0, 0.25);
    border-bottom: none;
    border-width: 0px;
}






/* TABLET */
@media only screen and (min-width: 768px){
    .login-background{
    background-image: url("../assets/Tablet.png");
    }

    h1{font-size: 48px;}
    h2{font-size: 32px;}
    h3{font-size: 32px;}
    h4{font-size: 24px;}
    h5{font-size: 16px;}

    .coment{font-size: 12px;}

    .login-container{max-width: 541px;}
}

/* PC */
@media only screen and (min-width: 1024px){
    .login-background{
        background-image: url("../assets/Tapa-frente.png");
    }   
}