/* CONTENEDORES */
.body-mg-rn{        /*rn = reclamo nuevo*/
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Encode Sans", sans-serif;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 7px;
}

header h2{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.main-container-rn{
    flex: 1;
    display: flex;
    justify-content: center;
}

.left-section{
    background-color: antiquewhite;
    flex-basis: 33%;
}

.right-section{
    background-color: gray;
    flex-basis: 66%;
    display: flex;
    flex-direction: column;
}

.top-div{
    display: flex;
    flex-basis: 75%;
}

.left-div{
    background-color: brown;
    flex-basis: 50%;
}

.right-div{
    background-color: red;
    flex-basis: 50%;
}

.buttom-div{
    background-color: blueviolet;
    flex-basis: 25%;
}

/* CAJAS */
.data-box{
    display: block;
}


/* ESTILO */

.sty-box{
    box-shadow: 2px 2px 19.4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: var(--color-claro);
    margin: 33px;
}