/* CONTENEDORES */
.body-mg{
    align-items: stretch !important;
}

.main-container{
    display: flex;
    flex-direction: row;
}

.main-box{
    flex-basis: 50%;
}

.left-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    margin: 3rem -3rem 3rem 3rem
}

.right-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

.item-container{
    display: flex;
}

article{
    display: flex;
    flex-direction: row;
}

article div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* MARGENES */
article div h2{margin: 0 5rem 1rem 0;}
article div p{margin: 0 4rem 0 0;}
.margin-middle{margin: 0.1rem 0;}
.margin-extrem1{margin: 0 0 0.1rem 0;}
.margin-extrem4{margin: 0.1rem 0 0 0;}
.number-item{margin: 0 1rem 0 4rem;}
.item{margin-left: 2rem;}


.circle{
    width: 100px;
    height: 100px;
    border: 3px solid var(--color-claro);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-link:hover{
    cursor: pointer;
}
